@tailwind base;
@tailwind components;
@tailwind utilities;
ul {
  list-style-type: disc;
  margin-left: 20px;
}
ol {
  list-style-type: decimal;
  margin-left: 20px;
}

@media print {
  #noPrint {
    display: none;
  }

  #title {
    display: none;
  }

  #print {
    display: block;
  }
}
